<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加商品</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/plugins/layui/css/layui.css" media="all">
</head>
<body>
<form class="layui-form" action="" style="margin-top: 50px">
    <div class="layui-form-item">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-block">
            <input type="text" name="goodsName" lay-verify="title" autocomplete="off" placeholder="请输入新的商品名称"
                   class="layui-input">
        </div>
    </div>

    <input type="hidden" id="img_url" name="picture" value=""/>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商品单价</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="price" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商品数量</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="count" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商品运费</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="freight" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-form" lay-filter="select1">
            <label class="layui-form-label">商品主类别</label>
            <div class="layui-input-inline">
                <select name="mainId" lay-filter="Type_filter" id="otype" lay-verify="required">
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-form" lay-filter="select2">
            <label class="layui-form-label">商品子类别</label>
            <div class="layui-input-inline">
                <select name="childId" lay-filter="cType_filter" id="ctype" lay-verify="required">
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">商品描述</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入描述" class="layui-textarea" name="goodsDescribe"></textarea>
        </div>
    </div>

    <div class="layui-upload">

    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="test1">上传图片</button>
            <div class="layui-upload-list">
                <img style="width: 200px;hight:200px" class="layui-upload-img" id="demo1">
                <p id="demoText"></p>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script src="../../static/plugins/layui/layui.js" charset="utf-8"></script>
<script src="../../static/plugins/layui/jquery-3.2.1.min.js"></script>
<script>
    layui.use(['form', 'upload', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate
            , upload = layui.upload;
        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 2) {
                    return '标题至少得2个字符啊';
                }
            }

            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function (data) {
            layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            , url: '/goods/uploadpic'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result); //图片链接（base64
                });
            }
            , done: function (res) {
                //如果上传失败
                if (res.code > 0) {
                    return layer.msg('上传失败');
                }
                //上传成功
                alert(res.msg);
                $('#img_url').attr('value', res.msg); //图片链接（base64）
                console.log(res.msg);
            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            var params = $("form").serializeArray();
            event.preventDefault();
            /* $.each(params, function (i, field) {
                 console.log("点击了立即提交按钮" + field.name + ":" + field.value + " ");
             });*/
            //console.log("新增商品：" + params);

            $.ajax({
                type: "post",
                url: "/goods/addgoods",
                data: params,
                success: function (msg) {
                    if (msg.code == 0) {
                        window.location.href = "/goods/toselectgoods";
                    } else {
                        layer.msg("商品添加失败")
                    }
                },
                error: function () {
                    alert("请求失败!");
                }
            })
        });
        $.ajax({
            url: '/goodstype/getmainname',
            dataType: 'json',
            type: 'GET',
            success: function (data) {
                $.each(data, function (index, item) {
                    $('#otype').append(new Option(item.mainName, item.id));// 下拉菜单里添加元素
                });
                //$("#otype").val("");设置默认选中的值
                layui.form.render('select', 'select1');
                $.ajax({
                    url: '/goodstype/childname?mainId=' + $("#otype").val(),
                    dataType: 'json',
                    type: 'GET',
                    success: function (cdata) {
                        $.each(cdata, function (cindex, citem) {
                            $('#ctype').append(new Option(citem.childName, citem.id));// 下拉菜单里添加元素
                        });
                        layui.form.render('select', 'select2');
                    }
                })
//重新渲染 固定写法
            }
        })
        form.on('select(Type_filter)', function (data) {
            //$('#ctype').html('');
            $("#ctype").empty();
            layui.form.render('select', 'select2');
            $.ajax({
                url: '/goodstype/childname?mainId=' + data.value,
                dataType: 'json',
                type: 'GET',
                success: function (cdata) {
                    $.each(cdata, function (cindex, citem) {
                        $('#ctype').append(new Option(citem.childName, citem.id));// 下拉菜单里添加元素
                    });
                    layui.form.render('select', 'select2');
                }
            })
        });
    });

    layui.use(['rate'], function () {
        var rate = layui.rate;
        //基础效果
        rate.render({
            elem: '#test1'
        })
    });
</script>

</body>
</html>