<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>title</title>
	<link rel="stylesheet" href="../../static/plugins/layui/css/layui.css" media="all">
	<style>
		#form {
			text-align: center;
			background-color: #fff;
			border-radius: 20px;
			width: 1200px;
			height: 500px;
			margin: auto;
			position: absolute;
			top: 0px;
			left: 0;
			right: 0;
			bottom: 0;
		}

	</style>
</head>
<body>
<div id="form">
	<div class="demoTable">
		搜索：
		<div class="layui-inline">
			<input class="layui-input" name="search" id="demoReload" autocomplete="off">
		</div>
		<button class="layui-btn" data-type="reload">搜索</button>
	</div>
	<table class="layui-hide" id="test" lay-filter="demo"></table>
</div>
<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript" src="../../static/plugins/layui/layui.js"></script>
<script src="../static/plugins/layui/jquery-3.2.1.min.js"></script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#test',
            type: 'get',
            url: '/user/findall',
            cellMinWidth: 100,
            cols: [
                [
                    {
                        field: 'id',
                        align: 'center',
                        title: '编号',
                        sort: true,
                    },
                    {
                        field: 'userAccount',
                        align: 'center',
                        title: '账户名',
                    }
                    , {
                    field: 'userName',
                    align: 'center',
                    title: '名字'
                }, {
                    field: 'userType',
                    align: 'center',
                    templet: function(d){ return d.userType==1?'普通用户':'管理员'},
                    title: '主分类'

                }, {
                    field: 'right',
                    align: 'center',
                    toolbar: '#barDemo',
                    title: '操作'
                }
                ]
            ],
            id: 'testReload'
            , page: true,
        });
        //监听工具条
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    var url = '/function/function?id=' + data.id;
                    var dataType = "json";
                    $.ajax({
                        type: "DELETE",
                        url: url,
                        dataType: "json",
                        success: function (dataJson) {
                            layer.close(index);
                            layer.alert(dataJson.msg)
                            reloadTable()
                        },
                        error: function (dataJson) {
                            layer.close(index);
                            layer.alert("您无此权限")
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    title: '修改页面',
                    shadeClose: true,
                    shade: false,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['600px', '600px'],
                    content: '/goods/toupdategoods',
                    success:function (layero,index) {
                        /*  var openPage = window[layero.find('iframe')[0]['name']];//获得弹出页面
                          openPage.child(data);*/
                        var body=layer.getChildFrame('body',index);
                        body.find("#picture").val(obj.data.picture);
                        body.find("#goodid").val(obj.data.id);
                        body.find("#goodsName").val(obj.data.goodsName);
                        body.find("#price").val(obj.data.price);
                        body.find("#count").val(obj.data.count);
                        body.find("#freight").val(obj.data.freight);
                        body.find("#goodsDescribe").val(obj.data.goodsDescribe);
                        body.find("#otype").val(obj.data.mainId);
                        body.find("#ctype").val(obj.data.childId);
                    },
                    end: function () {
                        var demoReload = $('#demoReload');
                        table.reload('testReload', {
                            page: {
                                curr: 1
                            },
                            where: {
                                search: demoReload.val()
                            }
                        });
                    }
                });
            }
        });

        reloadTable = function () {
            var demoReload = $('#demoReload');
            //执行重载
            table.reload('testReload', {
                page: {
                    curr: 1
                },
                where: {
                    search: demoReload.val()
                }
            });
        }

        var $ = layui.$,
            active = {
                reload: function () {
                    var demoReload = $('#demoReload');
                    //执行重载
                    table.reload('testReload', {
                        page: {
                            curr: 1
                        },
                        where: {
                            search: demoReload.val()
                        }
                    });
                }
            };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</body>
</html>